body {
    background-color: white;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}
div#h {
    border: 2px solid #ff9933;
    text-align: center;
    block-size: 33%;
    background-color: #ff9933;
    font-size: 32px;
    margin: auto;
    width: 100%;
    height: 33vh;
    /* padding-top: 5%; */
}
div#p {
    text-align: center;
    border: 2px solid white;
    block-size: 33%;
    background-color: #ffffff;
    color: #000080;
    margin: auto;
    height: 34vh;
    font-size: 1.25em;
    /* padding-top: 10%; */
}
div#c {
    text-align: center;
    border: 2px solid #138808;
    block-size: 33%;
    background-color: #138808;
    margin: auto;
    height: 33vh;
    font-size: 1.25em;
}