body {
    background: linear-gradient(to bottom, #ff9933, white, green);
    background-attachment: fixed;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}
